footer {
    padding: 1rem;
}

.summary-container {
    display: flex;
    flex-direction: column;
}

.summary {
    flex: 1;
    flex-direction: column;
}

.summary img {
    max-width: 100%;
    margin-bottom: 3rem;
}

.heart {
    color: red;
}