@import "fonts.css";

:root {
    --main-bg-color: black;
    --main-font-color: white;
}

::selection {
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
}

::-moz-selection {
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    font-family: "Fira Code Light", serif;
}

main {
    min-width: 1024px;
    overflow: auto;
    padding: 2rem;
}

a {
    color: inherit;
    text-decoration: underline !important;
}

pre,
code {
    color: var(--main-font-color);
}

#submittedText {
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
}

#notifyMessage {
    display: none;
}
